<!-- Container -->
<div class="container" data-controller="index create-task" data-project-id=<%=@project.id%>>
  <div class="row">
    <!-- Column 1: Task list card -->
    <div class="col-sm-4">
      <% @project.tasks.each do |task| %>
          <% if task.assignment_ids == current_user.assignment_ids %>
            <%= link_to project_task_path(@project, task), class: "card-product" do %>
              <div class="card-product">
                <div class="card-product-infos">
                  <h2><%=task.title%></h2>
                </div>
              </div>
            <% end %>
          <%end%>
      <%end%>
    </div>
  </div>
</div>
