<h1>Project name</h1>

<!-- Container -->
<div class="container" data-controller="index create-task" data-project=<%=@project.id%>>
  <div class="row">
    <!-- Column 1: Task list card -->
    <div class="col-sm-4">
      <% @project.tasks.each do |task| %>
        <div class="card-product" data-action="click->index#opendescription" data-task-id=<%=task.id%>>
          <div class="card-product-infos">
            <h2><%=task.title%></h2>
            <p>Selina | 1.6km</p>
          </div>
        </div>
      <%end%>
      <!-- Create new Task buttons (2) -->
      <a class="btn btn-flat" data-action="click->create-task#opennewtaskform">Create New Task</a>
    </div>
    <!-- Column 2: Task description -->
    <div class="col-sm-4">
      <div class="whitebck" data-index-target="taskdescription">
        <h1>to dos</h1>
      </div>
    </div>
    <div class="col-sm-4">
      One of three columns
    </div>
  </div>
</div>
