<h1>Project name</h1>

<!-- Task list card -->
  <div class="card-product">
    <div class="card-product-infos">
      <h2>Deliver roses to Carla</h2>
      <p>Selina | 1.6km</p>
    </div>
  </div>

<!-- Create new Task buttons (2) -->
  <a class="btn btn-ghost" href="#">Create New Task</a>
  <a class="btn btn-flat" href="#">Create New Task</a>
