<div class="user-show">
  <h3><%= @user.first_name + " " + @user.last_name %></h3>
  <h3><%= @user.email  %></h3>
  <% @user.assignments.each do |assignment| %>
   <%= assignment.task.title %>
  <% end %>
</div>
