<!---BANNER -->
<div class="banner">
    <h1>Get it done on-the-go</h1>
    <p>Manage your companies’ errands in real time.</p>
    <!---SIGN UP BUTTON -->
      <div class="btn btn-sign-up">
        <%= link_to new_user_registration_path(:query => "sign-up"), class:"button-link" do%>
        Sign Up
        <%end%>
      </div>
</div>

<!---HOW IT WORKS -> flex box-->
<section class="light-background">

  <div class="container">

    <h1 id="how-it-works" class="text-center">How it works</h1>

    <div class="row">
      <div class="card-category col" id="card-one" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://veja.abril.com.br/wp-content/uploads/2017/10/home-office-20160429-0007.jpg)"></div>
      <div class="col">
        <h2>Define the project</h2>
        <p>Create and assign users to projects. </p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <h2 class="text-right">Add tasks and prioritize.</h2>
        <p class="text-right">Prioritize tasks and let Routelist assign an available employee as soon as they finish the previous one.</p>
      </div>
      <div class="card-category col" id="card-two" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://zoomentregas.com.br/wp-content/webp-express/webp-images/uploads/2021/05/2021-06-16-profissao-office-boy.jpg.webp)"></div>
    </div>

    <div class="row">
      <div class="card-category col" id="card-three" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://consorciomagalu.com.br/wp-content/uploads/2021/04/office-boy-comprar-uma-moto-scaled.jpg)"></div>
      <div class="col">
        <h2>Communicate</h2>
        <p>If a task become hard to do by any reason, you can communicate with the assigned user on-the-go.</p>
      </div>
    </div>

  </div>

</section>

<!---SUBMIT CONTACT FORM-->
<%#
<section id="contact"class="primary-background">

  <div class="container">
    <h1 class="how-it-works text-center">Contact</h1>

    <div class="row">
      <div class="card-category col" id="card-one" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)"></div>
      <div class="col">
        <h2>How it works</h2>
        <p>jshbfalksjbfökadsbg</p>
      </div>
    </div>
  </div>
</section>


<!---  Footer ---> %>

  <div class="footer darker-background">
    <div class="footer-links">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="footer-copyright">
      This footer is made with <i class="fas fa-heart"></i> at Le Wagon
    </div>
  </div>
