.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
}

.card-category-yellow {
  height: 140px;
  top: 0px;
  background-color: #FFC300;
  color: #001D3D;
  padding: 30px;
  border-radius: 10px;
}

.js-project-edit {
  display: none;
}

.hidden-icon {
  .js-project-view {
    display: none;
  }

  .js-project-edit {
    display: block;
  }
}

.card-category-yellow p {
  padding-top: 25px;

}

.cards :hover {
  background-color: #001D3D;
  color: white;
  text-decoration: none;
}

.links i {
  padding-top: 30px;
  margin-left: 15px;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 200px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.user-category-yellow {
  overflow: hidden;
  height: 70px;
  display: flex;
  background-color: #FFC300;
  color: #001D3D;
  align-items: center;
  margin: 20px;
  border-radius: 12px;
}

.user-category-yellow h2 {
  padding-left: 10px;
  font-size: 20px;
  margin: 0;
}
.user-category-yellow i {
  font-size: 25px;
  font-weight: bold;
  margin: 0;
}

section > .container{
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

// Smallest device
@media (max-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (max-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
