// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "button";
@import "card";
@import "index_tasks_cards";
@import "index_tasks_button";
@import "home_banner";
@import "sign_up_button";
@import "home_contact";
@import "index_projects_cards";
@import "devise_form";

.project-title {
  color: #FFC300;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 96px;
}
