.navbar-lewagon {
  justify-content: space-between;
  padding: 8px 40px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 5;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 120px;
}

.navbar-links {
  flex-grow: 1;
  a {
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
  }

  a:hover {
    opacity: 0.7;
  }
}

.home-login {
  background-color: #001D3D;
  border-radius: 10px;
  width: 80px;
}

.nav-link-logged-out {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}

.nav-link-logged-out:hover {
  color: #DBDBDB;
  font-weight: bold;
  text-decoration: none;
}


.nav-link-signed-in {
  text-decoration: none;
  color: #001D3D;
}

.sign-out {
  background-color: #E71D36;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  margin-left: 20px;
}
