.todo-title {
  color: #FFC300;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 96px;
}

.todo-box {
  border-radius: 12px;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0.2, 0.2, 0.2);
}
