.btn-sign-up {
  font-weight: bold;
  background-color: #FFC300;
  padding: 8px 40px;
  border-radius: 10px;
}

.button-link {
  text-decoration: none;
  color: #001D3D;
}

.button-link:hover {
  text-decoration: none;
  color: #001D3D;
}
